
@media (min-width: 64rem) {
    .hero-elem-deco{
        height: 1400px;
        position: absolute;
        left: 20rem;
        top: -35rem;
        border-radius:50%;
        z-index: -1;
        background-color: #34405c;
        ;
        width: 1900px;
        overflow: hidden;
    }
}
.logoBlack{
    width: 5rem;
    margin: 2rem;
   
}

.logoWhite{
    display: none;
}

.imgAcc{
    display: none;
}

.monsieur{
    display: none;
}
@media (min-width: 64rem){
    .logoBlack{
        display: none;
       
    }
   
    .logoWhite{
        display: block;
        position: absolute;
        width: 20rem;
        top:0;
        left: 25rem;
    }
    .imgAcc{
        display: block;
        position: absolute;
        left: 50%;
        top:35%;
    
    }
    
    .monsieur{
        display: block;
        position: absolute;
        left: 2rem;
        top : 5rem;
    }
}

